* {
	margin: 0;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12px;
	max-width: 960px;
	margin: auto;
}

h1 {
	font-size: 3em;
	letter-spacing: .6em;
	padding-top: 1em;
	padding-bottom: 1em;
}

h2 {
	font-size: 1.5em;
	padding-bottom: 1em;
}

main {
	display: grid;
	grid-template-columns: 45% 55%;
	margin-top: 2em;
}

header {
	text-align: center;
	margin: auto 2em;
}

section {
	margin: auto 1em 4em 2em;
}

i {
	margin-right: .1em;
}

p {
	margin: auto
}

hr {
	border: none;
	background-color: lightgray;
	height: 1px;
}

h1,
h2 {
	font-weight: 100;
	margin-bottom: 0;
}

#mainLeft {
	border-right: 1px solid lightgray;
}

#mainLeft a {
	text-decoration: none;
	color: #1a0db9;
}

.gridcontainer1 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.boxes {
	margin: 1.5px;
	background-position: center center;
	background-size: cover;
	height: 3em;
	width: 10em;
}

.box1 {
	background: url("../images/aws.png")center center/cover;
}

.box2 {
	background: url("../images/A+.jpg") center center/cover;
}

.box3 {
	background: url("../images/net+.jpg") center center/cover;
}

.box4 {
	background: url("../images/ccna.png") center center/cover;
}

.box5 {
	background: url("../images/ccna_s.png") center center/cover;
}

.box6 {
	background: url("../images/CCNA_W.png") center center/cover;
}

.box7 {
	background: url("../images/vmware.png") center center/cover;
}

.box8 {
	background: url("../images/pfsense.png") center center/cover;
}

.box9 {
	background: url("../images/Windows.png") center center/cover;
}

.box10 {
	background: url("../images/html-css.jpg") center center/cover;
}